@model Doan_ChuyenMon.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhiGiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhiGiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhuongThucTT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhuongThucTT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.Ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.Ten)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
